/* default outline buttons */
button,
.buttons {
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 0.5em;
  border: solid 0.1em var(--border-color-600);
  cursor: pointer;
  text-decoration: none;
}

button:is(:hover, :focus-visible),
.buttons:is(:hover, :focus-visible) {
  background-color: var(--button-bg-color-hover-focus);
  border-color: var(--border-color-700);
}

button.square,
.buttons.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}

button.square__big,
.buttons.square__big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem !important;
  height: 3rem !important;
  padding: 0;
}

/* warn button red */
button.warn,
.buttons.warn {
  background-color: var(--button-warn-bg-color);
  border: solid 0.1em var(--button-warn-border-color);
}

button.warn:is(:hover, :focus-visible),
.buttons.warn:is(:hover, :focus-visible) {
  background-color: var(--button-warn-bg-color-hover-focus);
  border-color: var(--button-warn-border-color-hover-focus);
}
