#list__title__h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
  overflow: hidden;

  max-width: min(40rem, calc(100vw - 8rem));
  margin-inline: auto;

  padding: 0.5rem;
  margin-bottom: 0.5rem;

  font-weight: 300;
}

#list__name {
  font-weight: 700;
  word-break: break-word;
}

/* Responsives */
@media (max-width: 600px) {
  #list__title__h1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 100%;
  }
  #list__listspan {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
  }
}

#list__items {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: min(40em, calc(100% - 1em));
  padding-bottom: 40vh;
}

/* progressbar */
#progressbar__div {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: min(8em, 25vh);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(0deg, hsl(0, 2%, 6%), hsla(0, 2%, 6%, 0));
  pointer-events: none;
}

#progressbar {
  height: 1.5em;
  width: min(30em, calc(100vw - 3rem));
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 0.1em solid hsla(0, 0%, 100%, 0.5);
  overflow: hidden;
  border-radius: 0.5em;

  position: relative;
  pointer-events: all;
}

#progressbar__fill {
  width: 0%;
  height: 100%;
  background-color: hsl(110, 46%, 42%);
  border: 0.1em solid hsla(0, 0%, 100%, 0.5);
  border-radius: 0.42em;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-out;
}

#progressbar__fill::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  --color: hsla(0, 0%, 100%, 0.4);
  --color2: hsla(0, 0%, 100%, 0.3);
  background: linear-gradient(
      -45deg,
      var(--color2) 0%,
      transparent 20%,
      var(--color) 50%,
      transparent 80%,
      var(--color2) 100%
    )
    repeat;
  background-size: 2em 100%;
  opacity: 0;
}

#progressbar[data-progress-done] #progressbar__fill::before {
  animation: 4s animating linear infinite, 8s animateProgressInandOut linear forwards;
}

@keyframes animating {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10em 0;
  }
}

@keyframes animateProgressInandOut {
  0% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#progressbar__number {
  position: absolute;
  right: calc(50% - 1em);
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-weight: 700;
  color: hsla(0, 0%, 100%);
  z-index: 1;

  /* text-shadow: 0.1em 0.1em 0 hsl(0, 0%, 100%), 0.25em 0.125em 0 hsla(0, 0%, 20%, 0.15); */
  text-shadow: -0.1em -0.1em 0 hsla(0, 0%, 20%), 0 -0.1em 0 hsla(0, 0%, 20%),
    0.1em -0.1em 0 hsla(0, 0%, 20%), -0.1em 0 0 hsla(0, 0%, 20%), 0.1em 0 0 hsla(0, 0%, 20%),
    -0.1em 0.1em 0 hsla(0, 0%, 20%), 0 0.1em 0 hsla(0, 0%, 20%), 0.1em 0.1em 0 hsla(0, 0%, 20%);
}
